.CardAgainstHumanity {
   
   width: 180px;
   border-radius: 5px;
   border: 3px solid black;
   padding: 10px;
   font-size: 18px;
   font-weight: bold;
   min-height: 220px;
   margin-right: 10px;
   line-height: 1.4;
   display: inline-block;
   
   background: {
      color: white;
      repeat: no-repeat; 
      position: bottom right;
   }
   
   &.Answer {
      color: black;
      background: {
         color: white;
         image: url('images/cah-white.gif');
      }
   }
   
   &.Question {
      color: white;
      background: {
         color: black;
         image: url('images/cah-black.gif');
      }
   }
   
   .Expansion {
      display: none;
   }
   
}